mixin link-list(data, linkList)
  section.link-list.section(class=data.isDark ? 'link-list_dark' : '')
    .link-list__container.container.column
      h2.link-list__title.title=data.title
      ul.link-list__list
        each item in linkList
          li.link-list__item 
            a.link-list__link(href="#")
              if item.src 
                picture.link-list__img-wrap.wh100
                  img.link-list__img(src=item.src, alt="")
              .link-list__left
                h3.link-list__name=item.name
                if item.info
                  .link-list__info-block
                    each info in item.info
                      .link-list__info.btn(class=data.isDark ? 'btn_white' : 'btn_dark')=info
              .link-list__right 
                p.link-list__desc=item.desc
                +btn-arrow({
                  isRight: true,
                  isDark: data.isDark,
                  isArrow: true
                }, 'link-list__btn')
      button.link-list__more.btn.btn_circle(type="button")=data.btn